{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    My profile
{% endblock title %}

{% block content %}

<div class="container">
    {% if confirm %}
    <div class='alert alert-success'>Your Profile Has Been Updated Successfully</div>
    {% endif %}

    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src={{profile.avatar.url}} class="mx-auto d-block" alt="{{profile.first_name}}-{{profile.last_name}}.png" style="width:100px; height:100px;">
                            </div>
                            <h2 class="user-name text-center">{{profile.first_name}} {{profile.last_name}}</h2>
                        </div>
                        <div class="about mt-5">
                            <h4>About</h4>
                            <p>{{profile.bio}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h2 class="mb-2 text-primary">Personal Details</h2>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">Full Name</label>
                                <input type="text" class="form-control" id="fullName" value="{{profile.first_name}} {{profile.last_name}}" placeholder="Enter full name" readonly>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" value="{{profile.email}}" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="city">Country</label>
                                <input type="name" class="form-control" id="city" value="{{profile.country}}" readonly>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="state">City</label>
                                <input type="text" class="form-control" id="sTate" value="{{profile.city}}" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="button" id="submit" name="submit" data-toggle="modal" class="btn btn-primary" data-target="#ModalEditProfileForm">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal HTML Markup -->
<div id="ModalEditProfileForm" class="modal fade" style="height: 600px; ">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Edit Your Profile</h1>
            </div>
            <div class="modal-body">
                <div class="profile-header text-center">
                    <img src={{profile.avatar.url}} class="mx-auto d-block" style="width:150px;height:150px"/>
                    <h2 >{{profile.first_name}} {{profile.last_name}}</h2>
                </div>
                <form role="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-success">Update</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock content %}