{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    My profile
{% endblock title %}

{% block content %}

{% if firstTime %}
<div class="container">
    <div class="h2 alert alert-success text-center">Insert your profile data</div>
    <form role="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Set your profile</button>
    </form>
</div>
{% else %}
 <div class="container">
    {% if confirm %}
    <div class='alert alert-success'>Your Profile Has Been Updated Successfully</div>
    {% endif %}

    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src={{profile.avatar.url}} class="mx-auto d-block" alt="{{profile.first_name}}-{{profile.last_name}}.png" style="width:100px; height:100px;">
                            </div>
                            <h2 class="user-name text-center">{{profile.first_name}} {{profile.last_name}}</h2>
                        </div>
                        <div class="about mt-5">
                            <h4>About</h4>
                            <p>{{profile.bio}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h2 class="mb-2 text-primary">Personal Details</h2>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">Full Name</label>
                                <div  class="alert alert-info">{{profile.first_name}} {{profile.last_name}}</div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                
                                <div  class="alert alert-info">{{profile.user.email}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <div  class="alert alert-info">{{profile.country}}</div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="state">Gender</label>
                                <div  class="alert alert-info">{{profile.gender}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="country">Number of friends</label>
                                <div  class="alert alert-info">{{profile.get_friends_no}}</div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="state">Number of posts</label>
                                <div  class="alert alert-info">{{profile.get_posts_no}}</div>
                            </div>
                        </div>
                    </div>


                    <div class="row gutters">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="country">Number of likes given</label>
                                <div  class="alert alert-info">{{profile.get_likes_given_no}}</div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="state">Number of likes received</label>
                                <div  class="alert alert-info">{{profile.get_likes_recieved_no}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="button" id="submit" name="submit" data-toggle="modal" class="btn btn-primary" data-target="#ModalEditProfileForm">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 


<div id="ModalEditProfileForm" class="modal fade" style="height: 600px; ">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Edit Your Profile</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="profile-header text-center">
                    <img src={{profile.avatar.url}} class="mx-auto d-block" style="width:150px;height:150px"/>
                    <h2 >{{profile.first_name}} {{profile.last_name}}</h2>
                </div>
                <form role="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Update</button>
                </form>
            </div>
        </div>
    </div>
</div> 


{% endif %}



{% endblock content %}