{% extends "groups/group_base.html"%}

{% block title %}{{group.name}}{% endblock title %}

{% block pregroup %}
<div class="col-md-12">
    <h1 class="text-center my-5"> {{group.name}}</h1>
    <h3> {{group.description|safe}} </h3><br>

    {% if group.created_by.id == request.user.id %}

    {% else %}

    {% if group.joined_request.count == 1 and group.created_by.id != request.user.id %}

    <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-success" id="jl"><span
            class="icon-ok-circle"></span>Join</a>

    {% else %}

    {% for groupmem in group.joined_request %}

    {% if groupmem.user_id == request.user.id %}

    {% if groupmem.is_accepted == True %}

    <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-danger" id="jl"><span
            class="fas fa-sign-out-alt"></span>Leave</a>

    {% elif groupmem.is_accepted == False %}
    <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-success" id="jl"><span
            class="icon-ok-circle"></span>Join</a>


    {% elif groupmem.is_accepted == None %}
    <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-primary" id="jl"><span
            class="icon-ok-circle"></span>Pending</a>
    {% endif %}

    {% endif %}

    {% endfor %}

    {% endif %}
    {% endif %}




    <br>
</div>
{% endblock %}

{% block group_content%}
<div class="col-md-12">
    <br>

    <h1> Join requests:</h1>

    {% if not group.posts.count %}
    <h2> No request yet</h2>
    {% endif %}

    {% if request.user == group.created_by %}
    <table class="table" style="font-size: 18px">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            {{ group.join_requests.count }}
            {% for member in group.join_requests %}

            <tr>
                <td scope="row">
                    <a href="{% url 'groups:single' slug=group.slug%}" style="color: #000; font-weight: bold">
                        <span class="badge badge-danger px-3 py-2">{{member.user}}</span>
                    </a>
                </td>
                <td>

                    <form action='{% url "groups:accept-member" %}' method="GET" class="d-inline mr-3">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value={{member.user.id}}>
                        <input type="hidden" name="group_id" value={{group.id}}>
                        <button type="submit" class="btn btn-success " style="font-weight: bold">
                            Accept
                        </button>
                    </form>

                    <form action='{% url "groups:reject-member" %}' method="GET" class="d-inline">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value={{member.user.id}}>
                        <input type="hidden" name="group_id" value={{group.id}}>
                        <button type="submit" class="btn btn-danger " style="font-weight: bold">
                            Reject
                        </button>
                    </form>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endblock%}